<h1>Sign up</h1>
<form action="/users/create" method="POST">
<input type="text" name="name" placeholder="Your Name" required>
<input type="email" name="email" placeholder="Your email" required>
<input type="password" name="password" placeholder="password" required>
<input type="password" name="conform-password" placeholder="conform-password" required>
<input type="submit" value="Sign Up"></input>
</form>