header{
    background-color: white;
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 0px;
  
    div{
        display: inline-block;
        justify-content: space-between;
        text-align: left;
        ul{
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                }
            }
        }
    }
    
}