header {
  background-color: white;
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 0px; }
  header div {
    display: inline-block;
    justify-content: space-between;
    text-align: left; }
    header div ul li {
      display: inline-block; }
      header div ul li a {
        text-decoration: none; }
